.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202,203,203,0.5);
  -moz-box-shadow: 0 0 5px rgba(202,203,204,0.5);
}
* {
  cursor: url("http://om8u46rmb.bkt.clouddn.com/sword2.ico"), auto !important;
}
:active {
  cursor: url("http://om8u46rmb.bkt.clouddn.com/sword1.ico"), auto !important;
}
